.profile {
  margin-top: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 20px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 40%;
  /* margin-top: 5vh; */
  /* height: 330px; */
  /* overflow: hidden; */
  border-radius: 0.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.avatar {
  display: flex;
  max-width: 30%;
  border-radius: 50%;
  border: 1px solid black;
}

.name {
  font-size: 1.8rem;
  font-weight: 700;
}

.name,
.tag {
  padding-bottom: 10px;
}

.tag,
.location {
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0.5rem;
  color: rgb(151, 163, 175);
}

.stats {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.stats > li {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(241, 241, 241, 0.833);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgb(151, 163, 175);
  width: 100%;
  padding: 15px 0;
  background-color: rgb(240, 244, 247);
}

.label {
  padding-bottom: 2px;
  font-size: 11px;
  color: rgb(151, 163, 175);
  font-weight: 600;
}

.quantity {
  font-size: 12px;
  font-weight: 700;
}
